@model TravelAgency.Domain.Models.Itinerary

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Itinerary</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItineraryTravelPackage" class="control-label"></label>
                <select asp-for ="SelectedTravelPackageId" class="form-control" asp-items="ViewBag.TravelPackage">
                    <option value=0>-- Select a package--</option>
                </select>
                <span asp-validation-for="ItineraryTravelPackage" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ItineraryActivities" class="control-label"></label>
                <select asp-for="SelectedActivityId" class=" form-control" asp-items="ViewBag.TravelActivity">
                    <option value=0>-- Select an activity --</option>
                </select>
                <span asp-validation-for="ItineraryActivities" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
