<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TravelAgency</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TravelAgency.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/css/fontawesome.css">
    <link rel="stylesheet" href="~/css/templatemo-villa-agency.css">

    <link rel="stylesheet" href="~/css/owl.css">

    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <!--

    TemplateMo 591 villa agency

    https://templatemo.com/tm-591-villa-agency

    -->
</head>
<body>

    <header class="header-area header-sticky" style="padding-left: 1vw">
        <div class="container" style="display: contents">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a asp-controller="Home" asp-action="Index" class="logo">
                            <h1>Villa</h1>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a asp-controller="Home" asp-action="Index" class="active">Home</a></li>
                            <li><a asp-controller="TravelPackages" asp-action="Index">TravelPackages</a></li>
                            <li><a asp-controller="TravelActivities" asp-action="Index">TravelActivities</a></li>
                            <li><a asp-controller="Bookings" asp-action="Index">Bookings</a></li>
                            <li><a asp-controller="Itineraries" asp-action="Index">Itineraries</a></li>
                            <li><a asp-controller="ItineraryActivities" asp-action="Index">ItineraryActivities</a></li>
                            <li><a asp-controller="ItineraryTravelPackages" asp-action="Index">ItineraryTravelPackages</a></li>

                            @* <li><a asp-controller="TravelPackages" asp-action="GetPropertiesHTML">Property Details</a></li> *@
                            @* <li><a asp-controller="Home" asp-action="ContactUs">Contact Us</a></li> *@
                            <partial name="_LoginPartial" />
                            <li></li>
                            @* <li><a href="#"><i class="fa fa-calendar"></i> Schedule a booking</a></li> *@
                        </ul>


                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">
            <div class="col-lg-8">
                <p>
                    Copyright © 2048 Villa Agency Co., Ltd. All rights reserved.

                    Design: <a rel="nofollow" href="https://templatemo.com" target="_blank">TemplateMo</a>
                </p>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/isotope.min.js"></script>
    <script src="~/js/owl-carousel.js"></script>
    <script src="~/js/counter.js"></script>
    <script src="~/js/custom.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
